body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 100%;
  align-content: center;
  margin: auto !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Для WebKit-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Ширина полосы прокрутки */
}

::-webkit-scrollbar-track {
  background-color: #333; /* Цвет фона полосы прокрутки */
}

::-webkit-scrollbar-thumb {
  background-color: #666; /* Цвет ползунка */
  border-radius: 6px; /* Скругление углов ползунка */
}

/* Для Firefox */
/* Эти стили также могут быть применены для изменения внешнего вида скроллбара в Firefox */
/* Однако, в Firefox необходимо установить аддон для включения пользовательских скроллбаров */

/* Изменение цвета фона полосы прокрутки в Firefox */
html {
  scrollbar-color: #666 #333;
  background-color: rgb(12, 12, 12);
}



.line {
  max-width: 100%;
  height: 1px;
  background-color: rgb(31, 37, 42);
  margin: auto;
}

.vertical-divider {
  width: 0.5px;
  background-color: rgb(31, 37, 42);
  margin: 0;
}

.side-bar {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  scrollbar-width: thin;
  direction: rtl;
}

.side-bar > * {
  direction: ltr;
}


.main-box {
  padding-left: 15px;
  padding-right: 15px;
}

.main-line {
  background-color: rgb(31, 37, 42);
  width: 1000px;
  height: 1px;
  padding-left: 350px;
  margin: auto;
  margin-left: calc(20px + auto);


}

.main-page {
  padding-left: 286px;
  max-width: 1200px;
  margin: auto;
  padding-right: 16px;
}

@font-face {
  font-family: "Pixel";
  src: local("habeshapixels"), url("./fonts/nihonium113.regular.ttf") format("truetype");
}