body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #498CC8;
  height: 80px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center !important;
}

.navbar-logo {
  font-family: 'Pavelt, sans-serif' !important;
  font-size: 30px !important;
}